.bg-nav{
    background-color: pink;
}

.nav-word{
    color: gray;
    font-family:Arial,Helvetica, sans-serif;
    text-decoration: none;
}

.nav-search{
    color: rgb(55, 52, 52);
    border-color:rgb(55, 52, 52);
}

input.form-control::placeholder{
    color: rgb(188, 183, 183);
    opacity: 0.8;
}

.header-bg{
    background-image: url("/pic/p1.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
}


.head-h{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100%;
}
.slogan{
    color: 
    rgb(255, 111, 97)
    ;
    font-family: Arial, Helvetica, sans-serif;
}

.main-box{
    justify-items: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.main-h{
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(143, 103, 193);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.main-h:hover{
    transform: scale(1.05);
    display:inline-block;
    /* deal with broswer default */
    text-shadow: 0px 0px 1px;
    
}
.pic{
    width: 400px;
    height: auto;
}


.b-section{
    background-color: pink;
    height: 30%;
    width: 100%;
    color: white;
    opacity: 0.8;
}

.f-p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    
}
.icon-t{
    height: 20px;
    width: 20px;
    border-radius: 30%;
    margin-left: 5px;
}


/* index2 */
.banner{
    height: 200px;
    width: 100%;
    background-image: url(/pic/gymbanner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner h1{
    color: pink;
}

.wrap .text{
   margin-left: auto;
   margin-right: auto;
   
}
.wrap{
   margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 66%;
    height: 400px;
    flex-direction: column;

}
.item ul li{
    list-style: none;
}

.pic-trainner{
    width: 200px;
    height: 300px;
}

.form-box{
    width: 60%;
    height: auto;
}

.pt-list{
    width: 100%;
    height: auto;
    background-color: rgb(4, 1, 1);
    padding-top: 2em;
    padding-bottom: 2em;
}
.pt-list h5, .pt-list p{
    color: aliceblue;
}

.form-box{
    padding-top: 2em;
    padding-bottom: 2em;
}
.pic img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}





@media(max-width: 992px){
    .header-bg {
        height: 250px;
    }

    .wrap{
        height: 300px;
    }
    .wrap ul li p{
        display: none;
    }
}   /* media */
